<!-- Styles -->
<style>
#chartdiv {
  width: 100%;
  height: 500px;
}
</style>

<!-- Resources -->
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>

<!-- Chart code -->
<script>
var chart = AmCharts.makeChart("chartdiv", {
    "type": "serial",
    "theme": "light",
    "legend": {
        "equalWidths": false,
        "useGraphSettings": true,
        "valueAlign": "left",
        "valueWidth": 120
    },
    "dataProvider": [


{
"time": 20180601001001.105,
"channel": "FOODHD",
"clip": "AD_FOODHD_20180601-001001",
"duration": 14.9
},
{
"time": 20180601001016.19,
"channel": "FOODHD",
"clip": "AD_FOODHD_20180601-001016",
"duration": 29.725
},
{
"time": 20180601001146.305,
"channel": "FOODHD",
"clip": "AD_FOODHD_20180601-001146",
"duration": 14.95
},
{
"time": 20180601001200.305,
"channel": "FOODHD",
"clip": "SharpStart",
"duration": 483.062
},
{
"time": 20180601002004.316,
"channel": "FOODHD",
"clip": "AD_FOODHD_20180601-002004",
"duration": 14.85
},
{
"time": 20180601002019.38,
"channel": "FOODHD",
"clip": "AD_FOODHD_20180601-002019",
"duration": 14.85
},
{
"time": 20180601002034.414,
"channel": "FOODHD",
"clip": "AD_FOODHD_20180601-002034",
"duration": 29.55
},
{
"time": 20180601002104.36,
"channel": "FOODHD",
"clip": "AD_FOODHD_20180305-181413",
"duration": 14.825
},
{
"time": 20180601002134.43,
"channel": "FOODHD",
"clip": "AD_FOODHD_20180601-002134",
"duration": 29.675
},
{
"time": 20180601002203.43,
"channel": "FOODHD",
"clip": "SharpStart",
"duration": 670.184
},
{
"time": 20180601003314.27,
"channel": "FOODHD",
"clip": "AD_FOODHD_20180601-003314",
"duration": 14.625
},
{
"time": 20180601003329.156,
"channel": "FOODHD",
"clip": "AD_FOODHD_20180601-003329",
"duration": 14.825
},
{
"time": 20180601003344.164,
"channel": "FOODHD",
"clip": "AD_FOODHD_20180601-003344",
"duration": 29.7
},
{
"time": 20180601003444.133,
"channel": "FOODHD",
"clip": "AD_FOODHD_20180529-020923",
"duration": 15
},
{
"time": 20180601003459.133,
"channel": "FOODHD",
"clip": "SharpStart",
"duration": 288.179
}],


    // {
    //     "date": "2012-01-01",
    //     "distance": 227,
    //     "townName": "New York",
    //     "townName2": "New York",
    //     "townSize": 25,
    //     "latitude": 40.71,
    //     "duration": 408
    
    "valueAxes": [{
        "id": "timeAxis",
        "axisAlpha": 0,
        "gridAlpha": 0,
        "position": "left",
        "title": "time"
    }, {
        "id": "latitudeAxis",
        "axisAlpha": 0,
        "gridAlpha": 0,
        "labelsEnabled": true,
        "position": "right"
    }, {
        "id": "durationAxis",
        "duration": "mm",
        "durationUnits": {
            "mm": "m ",
            "ss": "seconds"
        },
        "axisAlpha": 0,
        "gridAlpha": 0,
        "inside": true,
        "position": "right",
        "title": "duration"
    }],
    "graphs": [{
        "alphaField": "alpha",
        "balloonText": "[[value]] seconds",
        "dashLengthField": "dashLength",
        "fillAlphas": 0.7,
        "legendPeriodValueText": "total: [[value.sum]] mi",
        "legendValueText": "[[value]] mi",
        "title": "distance",
        "type": "column",
        "valueField": "distance",
        "valueAxis": "distanceAxis"
    }, {
        "balloonText": "latitude:[[value]]",
        "bullet": "round",
        "bulletBorderAlpha": 1,
        "useLineColorForBulletBorder": true,
        "bulletColor": "#FFFFFF",
        "bulletSizeField": "channel",
        "dashLengthField": "dashLength",
        "descriptionField": "channel",
        "labelPosition": "right",
        "labelText": "[[channel]]",
        "legendValueText": "[[value]]/[[description]]",
        "title": "latitude/city",
        "fillAlphas": 0,
        "valueField": "latitude",
        "valueAxis": "latitudeAxis"
    }, {
        "bullet": "square",
        "bulletBorderAlpha": 1,
        "bulletBorderThickness": 1,
        "dashLengthField": "dashLength",
        "legendValueText": "[[value]]",
        "title": "duration",
        "fillAlphas": 0,
        "valueField": "duration",
        "valueAxis": "durationAxis"
    }],
    "chartCursor": {
        "categoryBalloonDateFormat": "DD",
        "cursorAlpha": 0.1,
        "cursorColor":"#000000",
         "fullWidth":true,
        "valueBalloonsEnabled": false,
        "zoomable": false
    },
    "dataDateFormat": "YYYY-MM-DD",
    "categoryField": "date",
    "categoryAxis": {
        "dateFormats": [{
            "period": "DD",
            "format": "DD"
        }, {
            "period": "WW",
            "format": "MMM DD"
        }, {
            "period": "MM",
            "format": "MMM"
        }, {
            "period": "YYYY",
            "format": "YYYY"
        }],
        "parseDates": true,
        "autoGridCount": false,
        "axisColor": "#555555",
        "gridAlpha": 0.1,
        "gridColor": "#FFFFFF",
        "gridCount": 50
    },
    "export": {
    	"enabled": true
     }
});
</script>

<!-- HTML -->
<div id="chartdiv"></div>					